main {
  background: #fff;
  min-height: fit-content !important;
}

h1#post-h1 {
  font: normal normal bold 45px/54px Lato;
  color: #c2be00;
  display: flex;
  justify-content: center;
  text-align: center;
}

.date {
  text-align: center;
  font: normal normal 300 25px/30px Lato;
  letter-spacing: 0px;
  color: #020202;
  opacity: 1;
  margin: 20px 0;
}

.img-fluid.shad-img {
  height: 400px;
  display: flex;
  justify-content: center;
  object-fit: cover !important;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-sm-3 h2 {
  background: #f8eade;
  font: normal normal 900 30px/45px Lato;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.list-group {
  box-shadow: none;
}

.list-group-item {
  background: #c2be00 !important;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item.open {
  background: #2b5366 !important;
}

.list-group-item .indicator {
  position: absolute;
  right: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.list-group-item .indicator img {
  width: 16px; /* Adjust the size as needed */
  height: auto;
  rotate: 180deg;
}

.list-group-item .indicator img.open {
  transform: rotate(90deg);
}

.list-group-item a {
  text-align: center;
  font: normal normal 900 22px/40px Lato;
  text-transform: uppercase !important;
  display: flex;
  justify-content: center;
}

.list-group-item:active {
  background: #2b5366 !important;
}

.col-sm-9 .bl {
  background: #fafafa 0% 0% no-repeat padding-box;
}

.bl h2 {
  font: normal normal 900 32px/29px Lato;
}

#navbar-summary {
  box-shadow: none;
}

.sticky-top h2 {
  margin-bottom: 15px;
}

.excerpt-text {
  text-align: justify;
  font: normal normal 300 25px/30px Lato;
  letter-spacing: 0px;
  color: #020202;
  opacity: 1;
}

.place {
  text-align: left;
  font: normal normal 900 33px/30px Lato;
  letter-spacing: 0px;
  color: #C2BE00;
  opacity: 1;
}

.type {
  text-align: center;
  font: normal normal bold 45px/54px Lato;
  letter-spacing: 0px;
  color: #C2BE00;
  opacity: 1;
}

.rectangle {
  width: 260px;
  height: 16px;
  background: #C2BE00 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: 0 auto;
}






.event-image-big {
  width: auto;
  height: 100%; /* Let the image fill the height of its container */
  max-height: 100%; /* Prevents the image from overflowing */
  max-width: 100%; /* Prevents the image from overflowing */
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

.event-card.new-style {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 20px auto; /* Center the card horizontally */
  width: 100%; 
  max-width: 1080px; 
  height: auto; /* Let the content determine the height */
  border-radius: 8px;
  justify-content: center; 
  align-items: stretch; /* Ensures both containers stretch to the same height */
}

/* Style for the image container */
.event-card-image-container {
  flex: 1;
  display: flex;
  align-items: center; /* Centers the image vertically */
  justify-content: center; /* Centers the image horizontally */
  overflow: hidden; 
  padding: 20px;
  height: 25vw; /* Ensures it stretches to the same height as the content */
}

/* Style for the content container */
.event-card-content.new-style-content {
  flex: 1; 
  padding: 40px;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: 25vw; /* Ensures the content matches the height of the image container */
}

.event-date {
  margin-left: 40px 0;
  margin-right: 40px 0;
  text-align: left;
  font: normal normal 900 1.4vw/2vw Lato;
  letter-spacing: 0px;
  color: #243D54;
  opacity: 1;
}

.event-place {
  margin-left: 40px 0;
  margin-right: 40px 0;
  text-align: left;
  font: normal normal bold 2vw/2.7vw Helvetica Neue;
  letter-spacing: 0px;
  color: #C2BE00;
  opacity: 1;
}

.event-title {
  margin: 40px 0;
  text-align: left;
  font: normal normal 900 1.4vw/2vw Lato;
  letter-spacing: 0px;
  color: #243D54;
  /*text-transform: uppercase;*/
  opacity: 1;
}

.event-description {
  font-size: 1em;
  color: #243d54;
  margin-bottom: 20px;
}

.rectangle-long {
  width: 250px;
  height: 7px;
  background: #C2BE00 0% 0% no-repeat padding-box;
  opacity: 1;  
}

.rectangle-75 {
  width: 674px;
  height: 9px;
  background: #C2BE00 0% 0% no-repeat padding-box;
  opacity: 1;
}

.document-title {
  text-align: left;
  font: normal normal 900 24px/30px Lato;
  letter-spacing: 0px;
  color: #C2BE00 !important;
  opacity: 1;
}

.document-item {
  text-align: left;
  font: normal normal 900 24px/30px Lato;
  letter-spacing: 0px;
  color: #C2BE00;
  opacity: 1;
}

.document-author {
  text-align: left;
  font: normal normal bold 18px/20px Lato;
  letter-spacing: 0px;
  color: #000000;
}