<?xml version="1.0"?>
<configuration>
<system.webServer>
<staticContent>
    <mimeMap fileExtension=".md" mimeType="text/x-markdown" />
    <mimeMap fileExtension=".json" mimeType="application/json" />
    <mimeMap fileExtension=".geojson" mimeType="application/json" />
</staticContent>
<rewrite>
    <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>  
        <rule name="React Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
        </rule>
    <!--
    <rule name="Redirect to non-www" stopProcessing="true">
        <match url="(.*)" negate="false"></match>
            <action type="Redirect" url="https://www.food-security.net/{R:1}"></action>
            <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.food-security\.net$" negate="true"></add>
        </conditions>
    </rule>
    -->
    </rules>
</rewrite>
</system.webServer>
</configuration>